<mat-sidenav-container>
    <mat-sidenav
        [(opened)]="isSideNaveOpened"
        fixedInViewport="true"
        fixedTopGap="0"
        fixedBottomGap="0">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/account']" (click)="isSideNaveOpened = false">Account</a>
            <a mat-list-item (click)="logout()">Logout</a>
        </mat-nav-list>             
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="core-container">
            <div class="top-container">
                <button mat-icon-button color="primary" (click)="isSideNaveOpened = !isSideNaveOpened">
                    <mat-icon aria-label="Open side navigation">menu</mat-icon>
                </button>
            </div>
            <div class="core-content-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>